.card-custom{
    background-color: #1D1D1D;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    color: white;
    height: 100%;
    opacity: 0.9;
    overflow: scroll;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.card-custom::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
.card-custom {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.btn-custom{
    background-color: #BB86FC;
    font-weight: bold;
}
.btn-fill{
    width: 100%;
}
.modal-custom{
    border: none;
    background-color: #212121;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    color: white;
    height: 100%;
}
.modal-content{
    border: none!important;
    background-color: #212121;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-custom2{
    border: none;
    background-color: #212121;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    color: white;
    height: 100%;
    margin-top: 8px;
    opacity: 1;
    cursor: pointer;
}
