<body>
<div class="particles-wrapper particles">
  <canvas repulse-particles number={{number}}></canvas>
</div>
<div class="container-fluid">      
  <div *ngIf="loggedIn===false">
    <div>
      <h1 class="text-center py-4 txt">Sign in</h1>  
      <button type="button" (click)="signInWithGoogle()" class="btn btn-custom">Sign In With Google</button>
    </div>
  </div>        
  <div *ngIf="loggedIn===true">
    <div class="form-group">
      <label for="email2">Userid </label>
      <input type="text" class="form-control" id="email2" [value]="user.email" readonly>
    </div>
    <button type="button" (click)="signOut()" class="btn btn-primary">Sign Out</button>         
  </div>
</div>
</body>
