body{
    background: #121212;
    /* background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(149,0,255,1) 100%); */
    height: 100vh;
}
.particles{
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.3;
}
.txt{
    color: white;
}
.btn-custom{
    background-color: #BB86FC;
    font-weight: bold;
}
.card-custom{
    background-color: #1D1D1D;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    color: white;
}
.container-fluid{
    z-index: 2;
    position: absolute;
}
.btn-fill{
    width: 100%;
}
.zero-margin{
    margin: 0;
}
.nav-custom{
    background-color: #1D1D1D!important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    color: white;
    z-index: 2;
    position: absolute;
    width: 100%;
    opacity: 0.7;
}
.app{
    padding-top: 85px;
}
